/* Reset Defaults */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

/* Main Layout */
.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Sidebar */
.sidebar {
  width: 350px;
  background: #f8f9fa;
  border-right: 2px solid #ddd;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000; /* Keep above map */
}

.sidebar-header {
  padding: 20px;
  background: #b3383e;
  color: white;
}
.sidebar-content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 20px;
  color: #171717;
}

/* Filters */
.filter-group {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}
.filter-label {
  display: block;
  margin: 8px 0;
  color: #171717;
  cursor: pointer;
}
.update-btn {
  background: #b3383e;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  border-radius: 4px;
}
.update-btn:hover {
  background: #852a2e;
}

/* Monster List */
.monster-list {
  margin-top: 10px;
}
.monster-card {
  background: white;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 6px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-left: 5px solid #3498db;
}
.monster-name {
  font-size: 1.1em;
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
  display: block;
  margin-bottom: 5px;
}
.monster-stats {
  font-size: 0.9em;
  color: #7f8c8d;
}

/* Map Area */
.map-area {
  flex-grow: 1;
  background: #ffffff;
  position: relative;
}

.footer-disclaimer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  color: #aaa;
  font-size: 10px;
  text-align: center;
  padding: 5px 10px;
  z-index: 1000;
  pointer-events: none; /* Allows clicking on map items behind the text */
  box-sizing: border-box; /* Ensures padding doesn't widen the page */
}
.footer-disclaimer p {
  margin: 0;
}
